body {
    background-color: #63A0CF;
    /* Use a system font, if none are available use an available sans-sarif */
    /* font-family: system-ui, sans-serif; */
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    text-align: center;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 0 auto;
    
  }
  
  .sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
    background-color: whitesmoke;
  }

  .sqr:hover {
    background-color:khaki;
  }

  h1, h2 {
    color: whitesmoke;
    text-shadow: -1px 1px black;
   
  }

  h1 {
    font-style: italic;
    font-size: 40px;
  }
  

  button {
    margin-top: 15px;
  }
  
  